@import "botiga.css";

/**************************** Classes generiques *****************************/

body {
   background-color: #ffffff;
   background-image: url(../img/fons.gif);
   background-repeat: repeat-y;
   background-position: 50%;
   color: #717579;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
}

form {
   margin: 0px;
   padding: 0px;
}

img {
   border: 0px;
   outline: none;
}

input {
   background-color: #ffffff;
   border: 1px solid #717579;
   color: #717579;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

select {
   background-color: #ffffff;
   border: 1px solid #717579;
   color: #717579;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

textarea {
   background-color: #ffffff;
   border: 1px solid #717579;
   color: #717579;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

input.Checkbox {
   border: 0;
}

input.Radio {
   border: 0;
}

input.Botons {
   background-color: #0e6bd3;
   border: 1px solid #0e6bd3;
   color: #ffffff;
}

/************************** Divs amb identificador ***************************/

div#general {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   width: 1004px;
}

div#generalInner {
   float: left;
   position: relative;
   width: 1004px;
}

div#cap {
   float: left;
   position: relative;
   width: 1004px;
}

div#cos {
   float: left;
   position: relative;
   width: 1004px;
}

div#peu {
   float: left;
   margin-top: 20px;
   margin-bottom: 10px;
   position: relative;
   width: 1004px;
}

div#capLogo {
   float: left;
   position: relative;
   width: 220px;
}

div#capLogo img {
   display: block;
   margin: 25px 0px 0px 25px;
}

div#capFlash {
   float: left;
   position: relative;
   width: 784px;
}

div#capMenu {
   background-image: url(../img/fons_menu.png);
   background-repeat: repeat-x;
   float: left;
   height: 31px;
   position: relative;
   width: 1004px;
}

div#capOpcions {
   float: left;
   height: 23px;
   position: relative;
   text-align: right;
   width: 814px;
}

div#capCerc {
   float: left;
   position: relative;
}

div#cosPortadaLogos {
   float: left;
   position: relative;
   width: 100%;
}

div#logoSepura {
   color: #006db5;
   font-weight: bold;
   float: left;
   font-size: 20px;
   padding-left: 24px;
   position: relative;
}

div#logoSepura img {
   display: block;
   margin-bottom: 6px;
}

div#logoRohill {
   float: right;
   padding-right: 24px;
   position: relative;
   width: 248px;
}

div#logoRohill img {
   display: block;
   float: right;
   margin-bottom: 7px;
}

div#logoRohill2 {
   clear: right;
   float: right;
   font-size: 20px;
   padding-right: 24px;
   position: relative;
   width: 248px;
}

div#logoRohill img {
   vertical-align: baseline;
}

div#logoRohill2 a {
   color: #006db5;
   font-weight: bold;
   text-decoration: none;
}

div#fotoPortada {
   float: right;
   height: 280px;
   padding-top: 12px;
   padding-right: 24px;
   position: relative;
}

div#peuContingut {
   border-top: 1px solid #84aedd;
   margin-left: auto;
   margin-right: auto;
   margin-top: 6px;
   position: relative;
   width: 948px;
}

div#peuContingutEsquerra {
   float: left;
   position: relative;
   width: 884px;
}

div#peuContingutEsquerra p {
   margin: 0px;
   padding: 12px 0px 12px 0px;
   text-align: center;
}

div#peuContingutDreta {
   float: left;
   position: relative;
   text-align: right;
   width: 64px;
}

div#peuContingutDreta p {
   margin: 0px;
   padding: 12px 0px 12px 0px;
   text-align: right;
}

div#peuContingutDreta p a {
   color: #717579;
}

/****************************************************************************/

div.CosContingut {
   margin-left: auto;
   margin-right: auto;
   min-height: 360px;
   position: relative;
   width: 948px;
}

div.LocalitzacioTitol {
   clear: both;
   color: #0e6bd3;
   float: left;
   font-size: 16px;
   font-weight: bold;
   position: relative;
   width: 948px;
}

div.LocalitzacioCosDreta {
   float: left;
   margin-top: 12px;
   position: relative;
   width: 475px;
}

div.LocalitzacioCosEsquerra {
   float: left;
   margin-top: 12px;
   position: relative;
   width: 473px;
   padding-right:10px;
   width:187px;
}

div.LocalitzacioCosCentre {
   float: left;
   margin-top: 12px;
   position: relative;
   width:271px;
}

div.LocalizacioCosDreta {
   float: left;
   margin-top: 12px;
   position: relative;
}

div.ContacteTitol {
   clear: both;
   color: #0e6bd3;
   float: left;
   font-size: 16px;
   font-weight: bold;
   position: relative;
}

div.ContacteCos {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
}

/** SCROLLERS ****************************************************************/

.absDiv {
   overflow: hidden;
   position: absolute;
   visibility: hidden;
}

div#overBar {
   background-color: #000000;
   color: #000000;
}

div#overBar a {
   color: #000000;
}

div#overThumb {
   background-color: #000000;
   cursor: move;
}

div#overUpArrows {
   height: 7px;
   width: 7px;
}

div#overUpArrows img {
   display: block;
}

div#overDownArrows {
   height: 7px;
   width: 7px;
}

div#overDownArrows img {
   display: block;
}

div#specBar {
   background-color: #000000;
   color: #000000;
}

div#specBar a {
   color: #000000;
}

div#specThumb {
   background-color: #000000;
   cursor: move;
}

div#specUpArrows {
   height: 7px;
   width: 7px;
}

div#specUpArrows img {
   display: block;
}

div#specDownArrows {
   height: 7px;
   width: 7px;
}

div#specDownArrows img {
   display: block;
}

div#bensBar {
   background-color: #000000;
   color: #000000;
}

div#bensBar a {
   color: #000000;
}

div#bensThumb {
   background-color: #000000;
   cursor: move;
}

div#bensUpArrows {
   height: 7px;
   width: 7px;
}

div#bensUpArrows img {
   display: block;
}

div#bensDownArrows {
   height: 7px;
   width: 7px;
}

div#bensDownArrows img {
   display: block;
}

div#accsBar {
   background-color: #000000;
   color: #000000;
}

div#accsBar a {
   color: #000000;
}

div#accsThumb {
   background-color: #000000;
   cursor: move;
}

div#accsUpArrows {
   height: 7px;
   width: 7px;
}

div#accsUpArrows img {
   display: block;
}

div#accsDownArrows {
   height: 7px;
   width: 7px;
}

div#accsDownArrows img {
   display: block;
}

/**  BITXO  *****************************************************************/

div.Opcio {
   color: #ffffff;
   padding: 4px 8px 4px 8px;
   float: right;
   height: 15px;
   position: relative;
}

div.Opcio a {
   color: #ffffff;
   text-decoration: none;
}

div.Opcio span {
   font-weight: bold;
}

div.Menu1 {
   background-color: #0d6dd3;
   display: none;
   float: left;
   position: absolute;
   z-index: 10;
}

p.Menu1 {
   background-color: #0d6dd3;
   color: #ffffff;
   cursor: pointer;
   display: block;
   height: 15px;
   margin: 0px;
   padding: 4px 8px 4px 8px;
   width: 90px;
}

p.Menu1 a {
   color: #ffffff;
   text-decoration: none;
}

/**  BITXO  *****************************************************************/

div.Bitxo {
   float: left;
   position: relative;
}

div.BitxoTitol {
   clear: both;
   color: #0e6bd3;
   float: left;
   font-size: 16px;
   font-weight: bold;
   position: relative;
}

div.BitxoText {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
}

div.BitxoText img {
   display: block;
   float: left;
   margin: 0px 12px 12px 0px;
}

div.BitxoLink {
   color: #717579;
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
}

div.BitxoNoticia {
   border-top: 1px dotted #0e6bd3;
   clear: both;
   float: left;
   margin-top: 12px;
   padding-top: 10px;
   position: relative;
   width: 100%;
}

div.BitxoNoticiaTitol {
   clear: both;
   color: #717579;
   float: left;
   font-size: 14px;
   font-weight: bold;
   position: relative;
   width: 100%;
}

div.BitxoNoticiaText {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
   width: 100%;
}

div.BitxoNoticiaText img {
   display: block;
   float: left;
   margin: 0px 12px 12px 0px;
}

div.BitxoNoticiaLink {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
   width: 100%;
}

div.BitxoNoticiaLink a {
   color: #717579;
}

div.BitxoPartner {
   clear: both;
   float: left;
   margin-top: 24px;
   position: relative;
   width: 100%;
}

div.BitxoPartnerHead {
   clear: both;
   color: #0e6bd3;
   float: left;
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 12px;
   position: relative;
   width: 100%;
}

div.BitxoPartnerTitol {
   clear: both;
   color: #717579;
   float: left;
   font-size: 14px;
   font-weight: bold;
   position: relative;
   width: 100%;
}

div.BitxoPartnerText {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
   width: 100%;
}

div.BitxoPartnerText img {
   display: block;
   float: left;
}

div.BitxoPartnerLink {
   clear: both;
   float: left;
   margin-top: 12px;
   position: relative;
   width: 100%;
}

div.BitxoPartnerLink a {
   color: #717579;
}

/** FORMULARIS **************************************************************/

table.GFtaulacapcalera {
}

td.GFtextcapcalera {
}

table.GFtaula {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}

td.FormText {
   width: 170px;
}

td.FormCaptch {
   padding-left: 170px;
}

td.FormCamp {
}

table.GFtaulapeu {
}

td.GFtextpeu {
}

td.Botons input {
   background-color: #0e6bd3;
   border: 1px solid #0e6bd3;
   color: #ffffff;
}

table.GFtaularesposta {
}

td.GFtextresposta {
}

